.form1{
	height: 50px;
	color: red;
	width: 750px;
	font-size: 17px;
	margin-bottom: 10px;
}

div.a{
	text-align: left;
	font-size: 20px;
	margin-bottom: 10px;
	color: white;
}

table.a{
	text-align: center;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

div.b{
	align-items: center;
}

.button{
	border-radius: 6px;
	transition-duration: 0.4s;
	width: 100px;
	height: 40px;
	outline: none;
	font-size: 15px;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button:hover{
	background-color: #273746; 
  	color: white;
}

p{
	color: white;
}


html {
  height:100%;
  background-image: url('asset/background.jpeg');
  background-position: center;
	background-size: cover;
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
/*  padding: 30px 0;*/
}

nav ul {
  text-align: left;
}

nav li {
  display: inline-block;

}

nav li a {
  padding: 10px;
  font-family: "Raleway";
  text-transform:uppercase;
  color: white;
  font-size: 14px;
  text-decoration: none;
  display: block;

}

nav ul li a:hover {
/*	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);*/*/
/*  background: rgba(255, 255, 255, 0.1);*/
/*  color: #037836;*/
}

div.c{
/*	margin-top: 100px;*/
	width: 100px;
	height: auto;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  border-radius: 4px;
/*  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);*/
  transition: width 2s;
}

div.c:hover{
	width: 175px;
}

div.form{
	margin: 0 auto;
	margin-top: 9em;
}

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;

  /* To see the limits of the form */
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

div.form1{
  margin-top: 1em;
}

div.button{
	align-items: center;
}

label {
  /* To make sure that all label have the same size and are properly align */
  display: inline-block;
  width: 90px;
  text-align: right;
  color: white;
}

input,
textarea {
  /* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text field */
  width: 300px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
  border-radius: 3px;
}

input:focus,
textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}

textarea {
  /* To properly align multiline text field with their label */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;

  /* To allow users to resize any textarea vertically
     It works only on Chrome, Firefox and Safari */
  resize: vertical;
}


